.footerContainer {
    overflow: hidden;
}

.footerIcon {
    height: 45px;
}

.footerLink {
    padding: 10px 15px;
    border-radius: var(--defaultBorderRadius);
}

.footerLink:hover, .footerLink:active {
    background: var(--primaryBG);
    box-shadow: rgba(0, 0, 0, 0.2) 0 10px 12px 0;   
}