.heroContainer {
    background-size: cover;
    background-attachment: fixed;
}

.heroParent {
    padding: var(--navbarHeight) 0;
    height: calc(100vh);
}

.heroImage {
    max-width: 80%;
    max-height: 60vh;
} 

.heroTextContent {
    padding: 15px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: var(--defaultBorderRadius);
}