.navbarParent {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--navbarHeight);
    line-height: var(--navbarHeight);
    padding: 0 5%;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 12px;
    transition: all 0.3s;
    z-index: 1000;
}

.topNavbar {
    color: white;
    background: transparent;
}
.topNavbar .navbarParent {
    background: transparent;
    box-shadow: none;
}

.navbarIcon {
    height: 45px;
}

.navbarLink {
    height: 100%;
    transition: all 0.3s;
    padding: 0 15px;
}

.navbarLink:hover, .navbarLink.active {
    border-bottom: 4px solid var(--primaryHighlight);
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1000px inset;
}