.primaryText {
    color: var(--primaryText);
}

.secondaryText {
    color: var(--secondaryText);
}

.whiteText {
    color: white;
}

.primaryBG {
    background: var(--primaryBG);
}

.secondaryBG {
    background: var(--secondaryBG);
}

.tertiaryBG {
    background: var(--tertiaryBG);
}

.primaryHighlightBG {
    background: var(--primaryHighlight);
}