@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    font-family: 'Outfit', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-size: unset;
    font-weight: unset;
    text-decoration: unset;
    color: unset;
    scroll-behavior: smooth;
    overflow-y: visible;
    box-sizing: border-box;
    outline: none;
    border: none;
    /* Variables */
    --navbarHeight: 55px;
    --primaryHighlight: hsl(287, 100%, 37%);
    --primaryHighlightActive: hsl(287, 100%, 29%);
    --defaultTransitionTime: 0.3s;
    --defaultBorderRadius: 6px;
}

body {
    overflow-x: hidden;
}

main {
    min-height: 100vh;
}

section {
    padding: 30px 5%;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

.lightTheme {
    --primaryBG: hsl(0, 0%, 100%);
    --secondaryBG: hsl(0, 0%, 90%);
    --tertiaryBG: hsl(212, 100%, 96%);
    --primaryText: black;
    --secondaryText: white;
    color: var(--primaryText);
    background-color: var(--primaryBG);
}

.darkTheme {
    --primaryBG: rgb(25, 26, 27);
    --secondaryBG: rgb(39, 41, 43);
    --tertiaryBG: rgb(31, 32, 33);
    --primaryText: rgb(255, 255, 255);
    --secondaryText: rgb(0, 0, 0);
    color: var(--primaryText);
    background-color: var(--primaryBG);
}

@font-face {
    font-family: "Material Icons";
    font-style: normal;
    line-height: 1;
    src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}

.material-icons-outlined {
    font-size: unset;
}

::-webkit-scrollbar {
    width: 18px;
}
  
::-webkit-scrollbar-track {
    background-color: var(--secondaryBG);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primaryHighlight);
    transition: all 0.2s;
}

::-webkit-scrollbar-thumb:hover {
    box-shadow: inset var(--primaryHighlightActive) 0 0 0 1000px;  
}

/* Main */

.topOffsetForNavbar {
    padding-top: var(--navbarHeight);
}

.defaultTransition {
    transition: all 0.3s;
}